<body>
    <header class="header-forca">
        <div>
            <h2>Jogo da Velha</h2>
            <a ui-sref="home">Home</a>
        </div>
    </header>

    <!-- <div class="idjogo-container">
        <label for="idjogo" class="idjogo-label">IDJOGO:</label>
        <input type="text" id="idjogo" class="idjogo-input" value="0" readonly>
    </div> -->

    <div class="game-container">
        <div class="board">
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
        </div>
        <!-- <p class="status">Vez do jogador X</p>
        <button class="reset-button">Reiniciar Jogo</button> -->
    </div>
</body>